.nav{
    margin-left: 100px;

}
.navbar-brand{
margin-left: 20px;
}
.dicover{
    margin-top: 200px;
    margin-left: 120px;
    color: orangered;
    
}
.down{
    margin-top: 20px;
    margin-left: 120px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.downn{
    margin-top: 20px;
    margin-left: 120px;
}
.folio{
margin-left: 200px;

padding-bottom: 200px;
width: 300px;

}
.button{
    margin-top: 20px;
    margin-left: 120px;
    color: white;
}
.row1{
    padding-bottom: 100px;
    
    
}
.certain{
    margin-top: 100px;
    
}

